/* Layout Container */
.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 1rem;
  margin-left: 155px;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: var(--neutral-100, #F0F4FA);
}

@media (max-width: 1024px) {
  .main-content {
    margin-left: 0;
  }
}
